@model WorkflowAuto.Data.Application

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectedToInstrumnet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectedToInstrumnet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectedToEquipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectedToEquipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectedToComputer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectedToComputer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectedToServer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectedToServer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSVStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSVStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CSVCompletedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CSVCompletedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GXPStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GXPStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackupMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackupMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priviledges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priviledges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GAMPCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GAMPCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>


    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
