@model IEnumerable<ApplicationIndexVM>

@{
    ViewData["Title"] = "List of Applications";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
           
            <td>
                <button class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></button> 
                <button class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</button> 
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="AppId" name="Id"/>
</form>

@section Scripts{
    <script>
        $(function(){
            $('.table').DataTable();
            $('.deleteBtn').click(function(e){
                swal({
                    title: "Confirmation!",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if(confirm){
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#AppId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });
        });
    </script>
}